/ImageSender/obj
/ImageSender/.vs
/ImageSender/bin
/ImageSender/ImageSender.csproj.user
/ImageSender/Properties
/SongViewLibrary/obj
/SongViewLibrary/bin
/SongViewManagement/Properties
/SongViewManagement/SongViewManagement.csproj.user
/SongViewManagement/.vs
/SongViewManagement/bin
/SongViewManagement/obj
/SongViewUpdaterService/.vs
/SongViewUpdaterService/bin
/SongViewUpdaterService/obj
/SongViewManagement/packages
/Internship Report.docx
